@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
  font-family: 'Manrope', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root{
  --color_primary: #075985;
  --color_secondary: #64748b;
  --color_text_muted: #475569;
  --color_primary_dark: #0c4a6e;
  --color_background_light: #d4eeff4d;
  --color_accent: #0284c7;
  --color_background_soft: #f7f9fb;
  --color_border_light: #e2e8f0;
  --color_primary_variant: #006399;
  --color_bg_soft_alpha: #f7f9fbcc;
  --color_secondary_dark: #404752;
  --color_neutral_dark: #2a3439;
  --color_neutral: #566166;
  --color_error: #9f403d;
  --color_neutral_light: #e1e9ee;
  
  --transition: all 0.2s ease-in-out;
}

body{
  min-height: 100dvh;
  width: 100dvw;
}