.mainLayout {
  display: flex;
  height: 100dvh;
  position: relative;
  background-color: var(--color_background_soft);
  width: 100%;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100vw - 256px);
  overflow-y: auto;
}